/*.navbar{ border: none; border-radius: 0; background: #2b3643; }
.navbar-default .navbar-nav li a{ color: #FFFFFF; }
.navbar-default .navbar-nav li a:hover{ color: #999999; }
.navbar-default .navbar-nav .active a{ color: #FFFFFF; }
.navbar-default .navbar-nav .active a:hover{ color: #999999; } */
body{ background: #34495e; }
.navbar{ margin-bottom: 0; background: none; border: none;  }
.navbar li a{ padding-top: 15px; padding-bottom: 15px; color: #FFFFFF; line-height: 15px;}
.navbar-default .navbar-nav li a{ color: #FFFFFF; }
.navbar-default .navbar-nav li a:hover{ color: #999999; }
.navbar-default .navbar-nav .active a{ color: #FFFFFF; background: #34495e; }
.navbar-default .navbar-nav .active a:hover{ color: #999999; background: #34495e; }
.sehemu-ya-juu{ color: #FFFFFF; background: #2b3643 ; height: 45px; }
.logo-yetu{ text-align: left;}
.logo-yetu img{ width: 90%; padding-top: 5%;}
.clear-float{ clear: both; }

.films .film_img{ height: 300px }
.films{ margin-bottom: 10px; }
/*.films .col-md-2,
.films .col-lg-2{
	padding-left: 2.5px;
	padding-right: 2.5px;
	padding-bottom: 15px;
}*/

.fit-image{
width: 100%;
float: left;
object-fit: cover;
overflow: hidden;
}


@media (max-width: 1200px){
	.logo-yetu img{ border:solid 1px #FFF; max-width: 90%;}
}

@media (max-width: 992px){
	.logo-yetu img{ border:solid 1px #F00; max-width: 70%;}
}

@media (max-width: 768px){
	.logo-yetu img{ border:solid 1px #FF0; max-width: 90%;}
}

@media (max-width: 576px){
	.logo-yetu img{ border:solid 1px #000; max-width: 90%;}
}

.movie-cover-image{ background: #999999; height: 80vh; margin: 0 auto; overflow: hidden; text-align: center;}

.movie-cover-image img{ height: 100%; }